.chatWidget {
  align-items: end;
  // Border
  border-radius: 10px;
  cursor: "pointer";
  display: flex;
  bottom: 55px;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  right: 1px;

  .chatWidgetContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(44, 42, 42);
    width: 15%;
    margin: 15px;
    
    background-color: #40444b; /* Couleur de fond */
    padding: 10px; /* Espacement interne */
    border-radius: 10px; /* Bordure arrondie */
    color: #ffffff; /* Couleur du texte */
    font-size: 14px; /* Taille de police */
    cursor: pointer; /* Curseur de la souris */
    transition: background-color 0.3s ease; /* Transition fluide de couleur de fond */
  }
}
.chatWidgetContent:hover {
  background-color: #6b6d75; /* Changement de couleur de fond au survol */
}
