$navBar-size-height: 5.69rem;
$navBar-size-width : 7.3rem;

$primary    : #CE3533;
$primary-alt: #a31818;
$secondary  : #9B9EAC;
$light      : #FCF2E3;
$dark       : #191a19;

$bg-image : '../../assets/img/assortiment-elements-cinema-fond-rouge-espace-copie.jpg';