@import "./variables";

@font-face {
  font-family: 'LexieReadable-Regular';
  src: url('../fonts/LexieReadable-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay-VariableFont_wght';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}