.modalWindow {
  position: relative;
  width: 370px;
  max-width: calc(100% - 48px);
  height: 65vh;
  max-height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(44, 42, 42);
  color: #f4f4f4;
  border-radius: 12px;
  border: 2px solid #f4f4f4;
  overflow: hidden;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
}

.question-response-container {
  overflow-y: auto; /* Ajoute le défilement vertical si nécessaire */
  padding: 10px;
}
.question-response .response {
  background-color: #40444b; /* Couleur de fond pour les réponses */
  color: #f4f4f4; /* Couleur du texte pour les réponses */
  padding: 8px;
  border-radius: 8px;
  max-width: 70%; /* Limite la largeur pour éviter que les réponses ne prennent trop d'espace */
}
.question-response .question {
  background-color: #40444b; /* Couleur de fond pour les réponses */
  color: #f4f4f4; /* Couleur du texte pour les réponses */
  padding: 8px;
  border-radius: 8px;
  max-width: 70%; /* Limite la largeur pour éviter que les réponses ne prennent trop d'espace */
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #40444b;
  border-top: 1px solid #6b6d75;
}

.input-container input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
}

.input-container input::placeholder {
  color: #8e9297;
}

.input-container button {
  background-color: #7289da;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #677bc4;
}
