@import "../../styles/variables";

.container {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "leftPartContainer rightPartContainer" "leftPartContainer rightPartContainer" "bottomPartContainer rightPartContainer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  background-color: $dark;
  color: $light;
  background-image: url($bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .MuiStack-root {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
  }
}

.leftPartContainer {
  z-index: 2;
  grid-area: leftPartContainer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left:  2.5rem;
  &>h1 {
    font-size: 2.5rem;
  }
  &>p {
    font-size: 1.5rem;
  }
}

.rightPartContainer {
  grid-area: rightPartContainer;
}

.bottomPartContainer {
  z-index: 2;
  grid-area: bottomPartContainer;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    align-items: center;
    font-style: italic;
  }
}

.newsletterForm {
  #emailNewsletter {
    color: $light;
}

  &>button {
    margin-top: 1rem;
  }
}
.filterMask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 8, 21, 0.25);
}

@media  (max-width: 860px) {
  .container {
    width: 100vw;
    height: 100vh;
    grid-template-areas: "leftPartContainer" "bottomPartContainer";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .leftPartContainer, .bottomPartContainer {
    padding: 0 1rem;
  }
}